body {
    margin: 0;
    padding: 32px;
    font-family: "Cutive Mono", monospace;
    color: #fff;
}

.fondo {
    background-image: url(https://ugc-image.mira.umusic.com/api/public/assets/asset/c808ff52-405c-4806-beb9-281292d3846e/large);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-filter: none;
    filter: none;
    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: -101;
}

nav img {
    width: 8rem;
    margin-top: 16px;
    margin-left: 16px;
}

header {
    position: relative;
    padding: 16px;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 15%;
}

section img {
    opacity: .6;
    width: 40%;
}

header div p {
    margin: 0;
}

.logo-do-it {
    width: 100%;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
}

.logo-do-it img{
   width: 45%; 
}

.grupo-straykids {
    display: flex;
    justify-content: center;
}

.grupo-straykids img{
    width: 80%;
    border-radius: 16px;
}

main {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(19,80px);
    gap: 32px;
    padding: 70px;
}

main div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
    padding: 16px;
    animation: revelar linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

div span {
    opacity: 0;
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
}

main div:first-child {
    /* Changbin */
    background-image: url("./Imagenes/Changbin.jpg");
    grid-column: 1/7;
    grid-row: 1/5;
    &:hover span{
        animation: bajar 600ms linear forwards;
    }
}

main div:nth-child(2){
    /* duo1 */
    background-image: url("./Imagenes/duo1.jpg");
    grid-column: 7/13;
    grid-row: 1/7;
}

main div:nth-child(3){
    /* bangchan */
    background-image: url("./Imagenes/Ban-Chang.jpg");
    grid-column: 13/19;
    grid-row: 1/5;
    &:hover span{
        animation: bajar 600ms linear forwards;
        color: black;
    }
}

main div:nth-child(4){
    /* han */
    background-image: url("./Imagenes/Han.jpg");
    grid-column: 1/7;
    grid-row: 5/9;
    &:hover span{
        animation: izquierda 600ms linear forwards;
    }
}

main div:nth-child(5){
    /* in */
    background-image: url("./Imagenes/I.N.jpg");
    grid-column: 13/19;
    grid-row: 5/9;
    &:hover span{
        animation: derecha 600ms linear forwards;
    }
}

main div:nth-child(6){
    /* leeknow */
    background-image: url("./Imagenes/Lee-Know.jpg");
    grid-column: 1/7;
    grid-row: 9/13;
    &:hover span{
        animation: izquierda 700ms linear forwards;
        color: black;
    }
}

main div:nth-child(7){
    /* duo4 */
    background-image: url("./Imagenes/duo4.jpg");
    grid-column: 7/13;
    grid-row: 7/13;
}

main div:nth-child(8){
    /* seungmin */
    background-image: url("./Imagenes/Seungmin.jpg");
    grid-column: 13/19;
    grid-row: 9/13;
    &:hover span{
        animation: derecha 700ms linear forwards;
    }
}

main div:nth-child(9){
    /* Hyunjin */
    background-image: url("./Imagenes/Hyunjin.jpg");
    grid-column: 1/6;
    grid-row: 13/20;
    &:hover span{
        animation: subir 600ms linear forwards;
       
    }
}

main div:nth-child(10){
    /* duo2 */
    background-image: url("./Imagenes/duo2.jpg");
    grid-column: 6/14;
    grid-row: 13/17;
}

main div:nth-child(11){
    /* duo3 */
    background-image: url("./Imagenes/duo3.jpg");
    grid-column: 6/14;
    grid-row: 17/20;
}

main div:last-child {
    /* felix */
    background-image: url("./Imagenes/Felix.jpg");
    grid-column: 14/19;
    grid-row: 13/20;
    &:hover span{
        animation: subir 600ms linear forwards;
    }
}

.cierre {
    position: relative;
    margin-top: 2rem;
}

.frase {
    position: absolute;
    width: 100%;
    top: 20%;
}

.frase div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}

.section-cierre {
    margin: 0;
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;
}

svg {
    width: 1.5rem;
    color: #fff;
    fill:currentColor;
    opacity: 0.5;
}

/* keyframes */

@keyframes bajar {
    from {
        transform: translateY(-300%);
        opacity: 0;
        text-shadow: none;

    }
    to {
        transform: translateY(0%);
        opacity: 1;
        text-shadow: 0px 0px 11px #ffffffc9;
    }
}

@keyframes subir {
    from {
        transform: translateY(300%);
        opacity: 0;
        text-shadow: none;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
        text-shadow: 0px 0px 11px #ffffffc9;
    }
}

@keyframes derecha {
    from {
        transform: translateX(300%);
        opacity: 0;
        text-shadow: none;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
        text-shadow: 0px 0px 11px #ffffff9b;
    }
}

@keyframes izquierda {
    from {
        transform: translateX(-300%);
        opacity: 0;
        text-shadow: none;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
        text-shadow: 0px 0px 11px #ffffffc9;
    }
}

@keyframes revelar {
    0% {
        opacity: 0;
        translate: 0 200px;
        scale: 0.4;
    }
    50% {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

